/*-- scss:defaults --*/

// Colors
$purple: #8c96c6;
$light-purple: #bfd3e6;
$cream: #FDFBF7;
$gray: #64605f;
$magenta: #91003f;
$black: #151617;

// Base document colors
$navbar-bg: $purple; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $light-purple; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $black; // page text 
$footer-bg: $cream; // footer 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $magenta; // inline code text color
